* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: -moz-radial-gradient(center, circle cover,  #ffffff 10%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(10%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, circle cover,  #ffffff 10%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, circle cover,  #ffffff 10%,#e5e5e5 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, circle cover,  #ffffff 10%,#e5e5e5 100%); /* IE10+ */
	background: radial-gradient(circle at center,  #ffffff 10%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-8 fallback on horizontal gradient */
	cursor: default;
	overflow: hidden;
	color: #000;
	font-size: 1em;
	font-family: 'Raleway', sans-serif;
}

.hidden {
	visibility: hidden;
}

.audio {
	position: absolute;
	top: 0px;
	left: 20px;
	width: 300px;
}

.audio label {
	line-height: 36px;
}

#loader input {
	width: 240px;
	height: 25px;
	float: left;
}

#loader button {
	width: 60px;
	height: 25px;
	float: left;
}

